*{
  font-family: "Plus Jakarta Sans", sans-serif;
}
.input-container {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  gap: 8px;
  height: 40px;
  width: 320;
  padding: 8px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 15px;
  color: #808080;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-field:focus {
  border-color: #2563eb;  
  box-shadow: 0 0 3px rgba(37, 99, 235, 0.5);
}

.input-error {
  border-color: #dc2626;
}

.error-message {
  color: #dc2626;
  font-size: 12px;
}

/*button */ 
button {
  margin-top: 30px;
  width: 320px;
  height: 60px;
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
  font-weight: 600;
  line-height: 28px;
  cursor: pointer;
  border: 1px;
  font-size: 18px;
  color: white;
  background-color: #2B3A67;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.hover:not(:disabled) {
  background-color: #1e40af;  
}


/* login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
}

 